@model HotelProject.WebUI.Models.Role.UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Rol Güncelleme Sayfası</h1>
<form method="post">
    <input type="hidden" name="Id" asp-for="Id" value="" />
    <div>
        <label>Rol Adı:</label>
        <input type="text" asp-for="Name" class="form-control" />
        <br />
    </div>
    <button class="btn btn-success">Rolü Güncelle</button>
</form>


